{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <div class="App">
        <header class="App-header">
            <img src="{% static 'Octocat.png' %}" class="App-logo" alt="logo" />
            <p>
                Hello DES323 Students<br>
                GitHub Codespaces <span class="heart">♥️</span> Django
            </p>
            <p class="medium">
                This is 6322790096 Khang Nguyen
            </p>
            <p class = "small">
                <b>[DES323-W02-Assignment]</b> Web and Cross-Platform Development Concepts
            </p>
        </header>
    </div>
</body>

</html>
